#**Combining two DFAs by Union operation**

In [ ]:
!pip install automata-lib
!pip install orderedset

Collecting automata-lib
  Downloading automata_lib-5.0.0-py3-none-any.whl (32 kB)
Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (from automata-lib) (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot->automata-lib) (3.0.6)
Installing collected packages: automata-lib
Successfully installed automata-lib-5.0.0
Collecting orderedset
  Downloading orderedset-2.0.3.tar.gz (101 kB)
     |████████████████████████████████| 101 kB 4.4 MB/s
Building wheels for collected packages: orderedset
  Building wheel for orderedset (setup.py) ... done
  Created wheel for orderedset: filename=orderedset-2.0.3-cp37-cp37m-linux_x86_64.whl size=246849 sha256=ec9b589d8b42c05153f400e27e0022aff252714752025b9456363dd9dafb787d
  Stored in directory: /root/.cache/pip/wheels/eb/9c/6a/ecfe7f54e9abe9dfc33d58f593851b684a9bb3ee2fc076a90e
Successfully built orderedset
Installing collected packages: orderedset
Successfully installed orderedset-2.0.3

In [ ]:
from automata.base.automaton import Automaton

In [ ]:
from automata.fa.fa import FA

In [ ]:
from orderedset import OrderedSet

#**Creating the 1st DFA**

In [ ]:
print("For 1st DFA ->\n\nEnter the states seperated by a comma(and without space): ",end="")
x = OrderedSet(input().split(','))
print("\nEnter the input alphabets for the first DFA : ",end="")
inp = OrderedSet(input().split(','))

For 1st DFA ->

Enter the states seperated by a comma(and without space): q0,q1,q2

Enter the input alphabets for the first DFA : 0,1

In [ ]:
print(x,inp)

OrderedSet(['q0', 'q1', 'q2']) OrderedSet(['0', '1'])

In [ ]:
dictt = {}
zero = 1
for i in x:
  print("The transition",zero)
  temp = {}
  for j in inp:
    print("for the state",i,"and input alphabet",j,"= ",end="")
    state1 = input()
    temp[j]=state1
  zero+=1
  dictt[i] = temp
  print("\n")

print("\n",dictt,"\n")

The transition 1
for the state q0 and input alphabet 0 = q0
for the state q0 and input alphabet 1 = q1


The transition 2
for the state q1 and input alphabet 0 = q0
for the state q1 and input alphabet 1 = q2


The transition 3
for the state q2 and input alphabet 0 = q2
for the state q2 and input alphabet 1 = q1



 {'q0': {'0': 'q0', '1': 'q1'}, 'q1': {'0': 'q0', '1': 'q2'}, 'q2': {'0': 'q2', '1': 'q1'}}

In [ ]:
print("Enter the initial state: ",end="")
ini = input()

print("Enter the final states: ",end="")
fin = set(input().split(','))

Enter the initial state: q0
Enter the final states: q1

In [ ]:
from automata.fa.dfa import DFA
# DFA which matches all binary strings ending in an odd number of '1's
dfa1 = DFA(
    states=x,
    input_symbols=inp,
    transitions=dictt,
    initial_state=ini,
    final_states=fin
)

#**Creating the 2nd DFA**

In [ ]:
print("For 2nd DFA ->\n\nEnter the states seperated by a comma(and without space): ",end="")
x1 = OrderedSet(input().split(','))
print("\nEnter the input alphabets for the first DFA : ",end="")
inp1 = OrderedSet(input().split(','))

For 2nd DFA ->

Enter the states seperated by a comma(and without space): q00,q11,q22,q33

Enter the input alphabets for the first DFA : 0,1

In [ ]:
dictt1 = {}
zero1 = 1
for ii in x1:
  print("The transition",zero1)
  temp1 = {}
  for jj in inp1:
    print("for the state",ii,"and input alphabet",jj,"= ",end="")
    state1 = input()
    temp1[jj]=state1
  zero1+=1
  dictt1[ii] = temp1
  print("\n")
print("\n",dictt1,"\n")

The transition 1
for the state q00 and input alphabet 0 = q11
for the state q00 and input alphabet 1 = q33


The transition 2
for the state q11 and input alphabet 0 = q33
for the state q11 and input alphabet 1 = q22


The transition 3
for the state q22 and input alphabet 0 = q22
for the state q22 and input alphabet 1 = q22


The transition 4
for the state q33 and input alphabet 0 = q33
for the state q33 and input alphabet 1 = q33



 {'q00': {'0': 'q11', '1': 'q33'}, 'q11': {'0': 'q33', '1': 'q22'}, 'q22': {'0': 'q22', '1': 'q22'}, 'q33': {'0': 'q33', '1': 'q33'}}

In [ ]:

print("Enter the initial state: ",end="")
ini1 = input()

print("Enter the final states: ",end="")
fin1 = OrderedSet(input().split(','))

Enter the initial state: q00
Enter the final states: q22

In [ ]:
other_dfa = DFA(
    states=x1,
    input_symbols=inp1,
    transitions=dictt1,
    initial_state=ini1,
    final_states=fin1
)

#**Checking what strings do the DFAs accept**

In [ ]:
print("Enter the input state: ",end="")
strr = input()

Enter the input state: 00101

In [ ]:
#if dfa.accepts_input(my_input_str):

if dfa1.accepts_input(strr):
    print('DFA1 accepted the string',strr)
else:
    print('DFA1 rejected the string',strr)

DFA1 accepted the string 00101

In [ ]:
if other_dfa.accepts_input(strr):
    print('DFA2 accepted the string',strr)
else:
    print('DFA2 rejected the string',strr)

DFA2 rejected the string 00101

In [ ]:
other_dfa.read_input_stepwise('0111') #Yields each state reached as the DFA reads characters from the input string, if the input is accepted.

#**Minimizing the DFAs**

In [ ]:
dfa1 = dfa1.minify(retain_names=True)

In [ ]:
other_dfa = other_dfa.minify(retain_names=True)

#**Union Operation**

In [ ]:
#minimal_union_dfa = dfa1 | other_dfa
union_dfa = dfa1.union(other_dfa,minify=False)
union_dfa = union_dfa.minify(retain_names=True)

In [ ]:
print(union_dfa.states)

{'{{q0,q2},q33}', '{q1,q33}', '{{q0,q2},q11}', '{{q1,q22},{{q0,q2},q22}}', '{{q0,q2},q00}'}

In [ ]:
print(union_dfa.input_symbols)

OrderedSet(['0', '1'])

In [ ]:
print(union_dfa.transitions)

{'{{q0,q2},q11}': {'0': '{{q0,q2},q33}', '1': '{{q1,q22},{{q0,q2},q22}}'}, '{{q0,q2},q33}': {'0': '{{q0,q2},q33}', '1': '{q1,q33}'}, '{{q0,q2},q00}': {'0': '{{q0,q2},q11}', '1': '{q1,q33}'}, '{{q1,q22},{{q0,q2},q22}}': {'0': '{{q1,q22},{{q0,q2},q22}}', '1': '{{q1,q22},{{q0,q2},q22}}'}, '{q1,q33}': {'0': '{{q0,q2},q33}', '1': '{{q0,q2},q33}'}}

In [ ]:
print(union_dfa.initial_state)

{{q0,q2},q00}

In [ ]:
print(union_dfa.final_states)

{'{q1,q33}', '{{q1,q22},{{q0,q2},q22}}'}